html,body {
	padding:0;
	margin:0;
	height:100%;
}

body {
	font-family: "Courier New";
	color: black;
}

.topbar {
	width:100%;
	height:float;
	font-family: "Times";
}

.topbar h1 {
	
}

.row {
    width:100%;
    height:47.5%;
}
.row div {
    width:50%;
    height:100%;
    float:left;
}

.main-button {
	cursor: pointer;
	font-size: 72px;
	text-align: center;
	color: white;
	display: block;
	width: 50%;
	height: 100%;
	float: left;
}

#q1 {
	background-color: #FF0000;
}

#q2 {
	background-color: #00AAFF;
}

#q3 {
	background-color: #FFAA00;
}

#q4 {
	background-color: #00CC00;
}

#q1:hover{
	background-color: #DD0000;
}
#q2:hover{
	background-color: #0088FF;
}
#q3:hover{
	background-color: #FF8800;
}
#q4:hover{
	background-color: #00AA00;
}

#start{
	cursor: pointer;
	font-size: 30px;
	display: block;
	width: 100%;
	height: 100px;
}
