html,body {
	padding:0;
	margin:0;
	height:100%;
}

body {
	font-family: "Courier New";
	background-color: springgreen;
	color: black;
}

.topbar {
	width:100%;
	height:float;
	font-family: "Times";
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes headerWheel {
    0%  {background-color:orange;}
    25%  {background-color:yellow;}
    50% {background-color:lightblue;}
    75% {background-color: springgreen;}
    100% {background-color:violet;}
}

/* Standard syntax */
@keyframes headerWheel {
    0%  {background-color:orange;}
    25%  {background-color:yellow;}
    50% {background-color:lightblue;}
    75% {background-color: springgreen;}
    100% {background-color:violet;}
}

.row {
    width:100%;
    height:40%;
}
.row div {
    width:50%;
    height:100%;
    float:left;
}

.main-button {
	cursor: pointer;
	font-size: 72px;
	text-align: center;
	color: white;
	display: block;
	width: 50%;
	height: 100%;
	float: left;
}

#q1 {
	background-color: #FF0000;
}

#q2 {
	background-color: #00AAFF;
}

#q3 {
	background-color: #FFAA00;
}

#q4 {
	background-color: #00CC00;
}

#q1:hover{
	background-color: #DD0000;
}
#q2:hover{
	background-color: #0088FF;
}
#q3:hover{
	background-color: #FF8800;
}
#q4:hover{
	background-color: #00AA00;
}

#start{
	background-color: orange;
	cursor: pointer;
	font-size: 30px;
	display: block;
	width: 100%;
	height: 100px;
}
#start:hover{
	animation-name: headerWheel;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	-webkit-animation-name: headerWheel; /* Safari 4.0 - 8.0 */
    	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
}

#digitDisplay{
	border: solid;
	width:float;
	height:float;
	font-size: 20px;
	font-family: "Courier New";
}
